body.login {
	--orion-wp-login--background_color: ;
	--orion-wp-login--text_color: ;
	--orion-wp-login--link_color: ;
	--orion-wp-login--submit_button_bg_color: ;
	--orion-wp-login--submit_button_text_color: ;
	--orion-wp-login--container_background_color: #FFFFFF;
	--orion-wp-login--default_button_background_color: ;
	--orion-wp-login--default_button_text_color: ;
	--orion-wp-login--login_container_width: 320px;
	--orion-wp-login--login_container_height: px;
	--orion-wp-login--custom_font_family: default;
	--orion-wp-login--message_position: static;
	--orion-wp-login--notice_success: ;
	--orion-wp-login--notice_error: ;
	--orion-wp-login--notice_warning: ;
	--orion-wp-login--notice_info: ;
	--orion-wp-login--border_color: ;
	--orion-wp-login--border_width: %;
	--orion-wp-login--form_background_color: #eeee22;
	--orion-wp-login--form_field_border_color: ;
	--orion-wp-login--form_padding: %;
	--orion-wp-login--form_border_radius: %;
	--orion-wp-login--form_field_border: %;
	--orion-wp-login--form_field_border_radius: %;
	--orion-wp-login--form_width: %;
	--orion-wp-login--align_items: stretch;
	--orion-wp-login--justify_content: flex-start;
	--orion-wp-login--flex_direction: row;
	--orion-wp-login--login_container_padding: 1rem;
	--orion-wp-login--login_container_margin: 0;
	--orion-wp-login--login_container_display: flex;
	--orion-wp-login--login_container_align_items: center;
	--orion-wp-login--login_container_direction: column;
	--orion-wp-login--login_container_justify_content: center;
}
